[submodule "components/server"]
	path = components/server
	url = https://github.com/oxomoxo/jsl-esp32-http.git
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
